body{
    font-family: 'Poppins', sans-serif;
    word-break: break-word;

}

#sitewrapper{
    position: relative;
}

*:focus {
    outline: none;
}

.clear{
    clear: both;
}

#navigationBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    width: 100%;
    top: 0;
    position: fixed;
    background: transparent;
    z-index: 10;
    opacity: 0;
    transition: 0.2s ease-out;
}

#navigationBar.visible{
    opacity: 1;
    transition: 0.2s ease-out;
    background-color: #fff;
    box-shadow: 0 10px 12px -14px rgba(0,0,0,.29);

}

.logo{
    width: 180px;
    transition: 0.4s ease-in-out;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration: none;
    color: #2b2e41;
    font-weight: 500;
}

.nav-links a:hover{
    color: #8f99ab;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #CD001F;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-active{
    transform: translateX(0%);
    z-index: 10;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

#placeholder{
    color: #fff;
    position: relative;
    width: 100%;
    height: 3000px;
}

header{
    position: relative;
}

#headerImageComplete{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pageTitle{
    margin-top: -50%;
}

.textContainer{
    display: block;
    max-width: 690px;
    margin: 0 auto;
}

.textContainer h1{
    max-width: 690px;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: #1E2334;
    margin-bottom: 60px;
}

.textContainer a{
    position: relative;
    margin-left: 35%;
}

.cta{
    max-width: 227px;
    border: 3px solid #CD001F;
    border-radius: 100px;
    padding: 18px 40px;
    color: #CD001F;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.cta:hover > #arrow{
    transform: translate(20px);
    opacity: 1;
}

.cta:hover{
    padding: 18px 45px;
}

#arrow{
    opacity: 0;
    transform: translate(70px);
    transition: 0.2s ease-in-out;
}









@media screen and (max-width: 1120px){
    .nav-links{
        width: 60%;
}
}

@media screen and (max-width: 970px){
    .textContainer h1{
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 970px){
    .pageTitle{
        margin-top: -55%;
    }
}

@media screen and (max-width: 768px){
    #sitewrapper{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        z-index: -1;
    } 
 
    .nav-active{
        transform: translateX(0%);
    }
 
    .nav-links li{
        opacity: 0;
        margin-bottom: 100px;
    }
 
    .burger{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 700px){
    .textContainer h1{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 640px){
    .textContainer a{
        width: 40vw;
        margin-left: 33vw;
    }
}

@media screen and (max-width: 550px){
    #headerImageComplete{
        height: 80vh;
        width: auto;
        margin-left: -60%;
    }

    .pageTitle{
        margin-top: -500px;
    }

    .textContainer a{
        margin-left: 30vw;
    }
}

@media screen and (max-width: 450px){
    .textContainer h1{ 
        max-width: 90vw;
        font-size: 20px;
        line-height: 30px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .textContainer a{
        width: 50vw;
        padding: 16px 50px;
        margin-left: 22vw;
    }
}

@media screen and (max-width: 400px){
    .textContainer a{
        margin-left: 18vw;
    }
}

@media screen and (max-width: 384px){
    .textContainer h1{
        font-size: 18px;
        line-height: 27px;
    }
}
