body{
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    word-break: break-word;
    background-color: #f4f4f4;
}

#sitewrapper{
    position: relative;
}

#content{
    position: absolute;
    background-color: #fff;
    width: 80vw;
    height: auto;
    margin-top: -33%;
    left: 10vw;
    z-index: 3;
}

*:focus {
    outline: none;
}

::selection{
    background-color: #CD001F;
    color: #fff;
}

.clear{
    clear: both;
}

#navigationBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    min-height: 9vh;
    width: 100%;
    top: 0;
    position: fixed;
    background: transparent;
    z-index: 10;
    opacity: 1;
    transition: 0.2s ease-out;
}

#navigationBar.visible{
    opacity: 1;
    height: 9vh;
    width: 100vw;
    transition: 0.2s ease-out;
    background-color: #fff;
    box-shadow: 0 10px 12px -14px rgba(0,0,0,.29);

}

.logo{
    width: 180px;
    transition: 0.4s ease-in-out;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-links a:hover{
    color: #8f99ab;
}

#menuToggle{
    display: none;
    position: absolute;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a{
    text-decoration: none;
    color: #1E2334;
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover{
    color: #CD001F;
  }
  
  #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #CD001F;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #1e2334;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu{
    position: absolute;
    text-align: right;
    width: 200px;
    margin: -100px 0 0 -215px;
    padding: 50px;
    padding-top: 125px;
    background: #fff;
    box-shadow: 10px 10px 12px -14px rgba(0,0,0,.29);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li{
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul{
    transform: none;
  }

#headerContent img{
    width: 100%;
    height: auto;
}


#headerContent{
    position: relative;
    text-align: center;
}

#headerText h1{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    width: 60vw;
    margin-left: 20vw;
    position: absolute;
    top: 25vh;
}

#headerText h2{
    font-size: 30px;
    font-weight: 500;
    width: 40vw;
    color: #fff;
    margin-left: 30vw;
    position: absolute;
    top: 40vh;
}

 /* scroll animatie */

.box {
    position: absolute;
    top: 50vh;
    left: 50%;
  }
  
  .box span {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(225deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .box span:nth-child(1)
  {
    animation-delay: -0.2s;
  }
  
  .box span:nth-child(2)
  {
    animation-delay: -0.4s;
  }
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotate(225deg) translate(10px, 10px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(225deg) translate(-10px, -10px);
    }
  }

  /* google map*/

#map{
    margin-top: 20vh;
  }

#map h4{
    font-size: 35px;
    line-height: 54px;
    font-weight: bold;
    color: #1E2334;
    margin-left: 10%;
    margin-bottom: 30px;
}

#googleMap{   
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
}

#googleMap iframe {
    position: absolute;
    top: -55px;
    right: 10%;
    width: 80% !important;
    height: 100% !important;
}
 
/* informatie onder de kaart */

#info{
    display: flex;
    width: 80%;
    margin-left: 10%;
}

#infoLeft{
    width: 40%;
    color: #1E2334;
}

#infoLeft p{
    font-size: 20px;
    line-height: 30px;
}

#infoBigNumber{
    font-size: 160px !important;
    line-height: 30px !important;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 60px;
}

#infoLeft p:nth-child(3){
    font-size: 30px;
    font-weight: 600;
}

#infoLeft p:nth-child(4){
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#infoLeft a{
    color: #CD001F;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

#infoLeft i{
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

#infoLeft a:hover > i{
    transform: translateX(10px);
    transition: 0.2s ease-in-out;
}


#infoRight{
    width: 60%;
    height: 400px;
    border-left: 1px solid #1E2334;
    color: #1E2334;
}

#infoRight h3{
    font-size: 40px;
    font-weight: bold;
    padding: 70px 0px 0px 60px;
}

#infoRight p{
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
    margin-top: 40px;
    font-weight: 400;
    width: 500px;
}

#underline{
    text-decoration: underline;
    text-decoration-color: #CD001F;
}

#flyer{
    display: flex;
    width: 100%;
    position: absolute;
    margin-top: 120px;
    color: #1E2334;
}

#flyerLeft{
    width: 50vw;
    height: 50vw;
    background-color: #1E2334;
}

#flyerLeft img{
    width: 90vw;
    margin-left: -25vw;
    margin-top: -11vw;
}

#flyerRight{
    width: 40vw;
    height: 56vw;
    margin-top: -6vw;
    background-color: #CD001F;
    color: #FDE3E7;
}

#flyerRight p:nth-child(1){
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin: 10vw 0 0 5vw;
}

#flyerRight h5{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin: 0vw 0 0 5vw;
}

#flyerRight h5::selection , #flyerRight p::selection{
    background-color: #fff;
    color: #CD001F;
}

#flyerRight p{
    font-size: 18px;
    line-height: 27px;
    width: 280px;
    margin: 3.5vw 0 0 5vw;
}

#whiteLine{
    border-bottom: 2px solid #fff;
    width: 7.7vw;
    margin: 5vw 0vw 7vw 5vw;
}

#flyerRight a{
    border: 4px solid #fff;
    background-color: #CD001F;
    padding: 18px 36px;
    color: #fff;
    text-decoration: none;
    margin-left: 5vw;
}

#flyerRight a:hover{
    border: 4px solid #fff;
    background-color: #fff;
    color: #CD001F;
}

#deelnemers{
    position: relative;
    width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-top: 65vw;
}

#deelnemers h4{
    font-size: 30px;
    font-weight: 600;
}

#redLineDeelnemers{
    width: 60px;
    border-bottom: 4px solid #CD001F;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#deelnemers p{
    font-size: 20px;
    line-height: 30px;
}

.gallery {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: -1rem -1rem;
    margin-top: 4vw;
    width: 80%;
    margin-left: 10%;
    transition: ease-in-out 0.6s;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 16rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
    overflow: hidden;
    transition: ease-in-out 0.6s;
    position: relative;
}

.gallery-item h6{
    padding: 10px 0px;
    font-size: 14px;
}

.gallery-image {
	display: block;
    width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}


.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90.5%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #1e2334;
}

.text{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 40%;
    max-width: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.text ul li{
    margin-bottom: 5px;
    line-height: 18px;
}

.gallery-item:hover .overlay {
    opacity: 0.8;
  }


#button{
    color: #1E2334;
    border: 3px solid #1E2334;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    padding: 14px 28px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    position: relative;
    left: 50%;
    margin-top: 4vw;
    transform: translateX(-50%);
}

#button:hover{
    color: #fff;
    background-color: #1E2334;
    transition: 0.2s ease-in-out;
}

.gallery.hidden > .gallery-item:nth-child(1n +5){
    transition: ease-in-out 0.6s;
    opacity: 0;
    height: 0;
}

.gallery.hidden + #button{
    position: absolute;
    margin-top: -20vh;
}



@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
        margin: 0;
        transition: ease-in-out 0.6s;
    }
    
    .gallery{
        margin-top: 4vw;
        width: 80%;
        margin-left: 10%;
        transition: ease-in-out 0.6s;
    }
}


#over{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 15vw;
    color: #1E2334;
}

#overLeft{
    width: 40vw;
    height: 56vw;
    margin-top: -6vw;
    background-color: #CD001F;
    color: #fff;
}

#overLeft p::selection{
    background-color: #fff;
    color: #CD001F;
}

#overLeftContent{
    margin-left: 4vw;
    margin-top: 8vw;
}

#overLeftContent p:nth-child(1){
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}

#overLeftContent p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 4vw;
}

#whiteLineOver{
    width: 90px;
    border-bottom: 2px solid #fff;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

#facts{
    display: flex;
    flex-flow: row wrap;
}

#fact:nth-of-type(1){
    margin-right: 4vw;
}

#fact:nth-of-type(2){
    margin-right: 4vw;
}

#fact:nth-of-type(3){
    margin-right: 4vw;
    margin-top: 4vw;
}

#fact{
    border-left: 3px solid #1E2334;
    height: 85px;
}

#fact p{
    padding-left: 10px;
}

#fact p:nth-child(1){
    font-size: 60px;
    line-height: 60px;
    margin-bottom: unset;
}

#fact p:nth-child(2){
    font-size: 15px;
}

#overRight{
    width: 50vw;
    height: 50vw;
    background-color: #1E2334;
    color: #fff;
}

#overRight p{
    font-size: 20px;
    line-height: 30px;
    width: 550px;
    border-left: 2px solid #fff;
    padding-left: 10px;
    margin-left: 4vw;
    margin-top: 50%;
    transform: translateY(-50%);
}

#cta{
    margin: 0 auto;
    margin-top:9vw;
    text-align: center;
}

#cta h5{
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 200px;
}

#cta a{
    color: #CD001F;
    text-decoration: none;
    font-weight: 500;
    padding: 14px 36px;
    border: 4px solid #CD001F;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -10vw;
    
}

#cta a:hover{
    background-color: #CD001F;
    color: #fff;
}



#footer{
    position: absolute;
    height: 60vh;
    width: 100vw;
    background-color: #79899F;
    margin-left: -10vw;
}

#white{
    width: 80vw;
    margin-left: 10vw;
    height: 150px;
    background: #fff;
}

#footerContent{
    display: flex;
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 10vh;
    color: #1E2334;
}

#image{
    margin-right: 70px;
}

#navigeer{
    margin-right: 100px;
}

#footerContent p:nth-child(1){
    font-weight: 600;
    border-bottom: 2px solid #CD001F;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #1E2334;
}

#footerContent ul li{
    margin-bottom: 20px;
}

#footerContent ul li a{
    text-decoration: none;
    color: #1E2334;
}

#footerContent ul li a:hover{
    text-decoration: underline #1E2334;
}

#contact{
    margin-right: 100px;
}

#bottom{
    position: absolute;
    width: 100vw;
    height: 8vh;
    background: #1E2334;
    margin-left: -10vw;
    margin-top: 60vh;
}

#bottom p{
    color: #79899F;
    margin-left: 12.5vw;
    margin-top: 3vh;
}



















/* media queries */





@media screen and (max-width: 1749px){
    .gallery.hidden > .gallery-item:nth-child(1n +4){
        transition: ease-in-out 0.6s;
        opacity: 0;
        height: 0;
    }

    #button{
        margin-top: 1vw;
    }
}

@media screen and (max-width: 1600px){
    .box{
        top: 45vh;
    }
}

@media screen and (max-width: 1480px){
    
    #headerText h1{
        top: 20vh;
        font-size: 70px;
    }

    #headerText h2{
        top: 30vh;
        font-size: 25px;
    }
    
    .box{
        top: 40vh;
    }

    #overRight p{
        width: 450px
    }

    #cta a {
        margin-top: -10vw;
    }
}

@media screen and (max-width: 1350px){
    #infoRight p{
        width: 470px;
    }
        
}

@media screen and (max-width: 1330px){
    .box{
        top: 35vh;
    }
}

@media screen and (max-width: 1299px){
    .gallery.hidden > .gallery-item:nth-child(1n +3){
        transition: ease-in-out 0.6s;
        opacity: 0;
        height: 0;
    }

    #cta a {
        margin-top: -12vw;
    }

}

@media screen and (max-width: 1258px){
    #infoRight h3{
        font-size: 30px;
        padding: 60px 0px 0px 40px;
    }
    #infoRight p{
        padding-left: 40px;
        margin-top: 40px;
    }

    #overRight p{
        font-size: 18px;
        line-height: 27px;
    }

    #overLeftContent p{
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (max-width: 1200px){
    .box{
        top: 30vh;
    }
    #headerText h1{
        top: 15vh;
        font-size: 60px;
    }

    #headerText h2{
        top: 25vh;
        font-size: 20px;
    }

    #infoLeft{
        width: 45%;
    }
    #infoRight{
        width: 50%;
    }

    #infoRight p{
        font-size: 18px;
        line-height: 27px;
        width: 400px;
    }

    #fact:nth-of-type(2){
        margin-right: unset;
    }

    #overRight p{
        width: 370px;
        margin-left: 2vw;
    }

    #overLeftContent{
        margin-left: 2vw;
    }

    #cta a {
        margin-top: -14vw;
    }

    #navigeer , #contact{
        margin-right: 4vw;
    }
}

@media screen and (max-width: 1160px){

        #whiteLine{
            margin:3vw 0vw 5vw 5vw;
        }
}

@media screen and (max-width: 1120px){
    .nav-links{
        width: 60%;
    }

    #googleMap{
        padding-bottom: 50%;
    }

    #infoRight h3{
        padding-left: 30px;
    }

    #infoRight p{
        padding-left: 30px;
    }

    #flyerRight p:nth-child(1){
        margin: 7vw 0 0 2vw;
    }
    
    #flyerRight h5{
        margin: 0vw 0 0 2vw;
    }
    
    #flyerRight p{
        margin: 3.5vw 0 0 2vw;
    }
    
    #whiteLine{
        margin: 5vw 0vw 7vw 2vw;
    }
    
    #flyerRight a{
        margin-left: 2vw;
    }

    #cta h5{
        font-size: 35px;
    }

    #cta a {
        margin-top: -15vw;
    }
}

@media screen and (max-width: 1085px){
    #infoLeft{
        width: 100%;
    }

    #infoRight{
        width: 100%;
    }
}

@media screen and (max-width: 1050px){
    .box span{
        width: 20px;
        height: 20px;
    }
    @keyframes animate{
    0%{
      opacity: 0;
      transform: rotate(225deg) translate(5px, 5px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(225deg) translate(-5px, -5px);
    }
  }

  #overLeftContent{
    margin-top: 4vw;
    }

    #overLeftContent p:nth-child(1){
        font-size: 30px;
        line-height: 40px;
    }

    #overLeftContent p{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 4vw;
    }

    #question{
        width: 30vw;
    }

    #whiteLineOver{
        width: 90px;
        border-bottom: 2px solid #fff;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }

    #fact p:nth-child(1){
        font-size: 50px;
        line-height: 60px;
        margin-bottom: unset;
    }

    #cta a {
        margin-top: -16vw;
    }

    #image img{
        width: 18vw;
    }

    #image{
        margin-right: 3vw;
    }
}

@media screen and (max-width: 1015px){
    #info{
        flex-direction: column;
    }

    #infoLeft{
        padding-bottom: 70px;
    }


    #infoLeft p:nth-child(4){
        width: 70vw;
    }

    #infoRight{
        border-left: none;
        border-top: 2px solid #1E2334;
    }

    #infoRight h3{
        padding-left: 0;
    }

    #infoRight p{
        width: 70vw;
        padding: 0;
    }

    #flyer{
        margin-top: unset;
    }

    #flyerRight p:nth-child(1){
        font-size: 25px;
        margin-top: 5vw;
    }

    #flyerRight h5{
        font-size: 25px;
        line-height: 32px;
    }

    #flyerRight p{
        font-size: 16px;
        line-height: 24px;
        width: 240px;
    }
    
    #flyerRight{
        width: 30vw;
    }

    #deelnemers p{
        font-size: 18px;
        line-height: 27px;
        width: 60%;
        margin-left: 20%;
    }

    .gallery-image {
        height: 90%;
    }

}

@media screen and (max-width: 950px){
    .box{
        top: 26vh;
    }
    #headerText h1{
        top: 15vh;
        font-size: 50px;
    }

    #headerText h2{
        top: 22vh;
        font-size: 18px;
    }

    #deelnemers{
        position: relative;
        width: 100%;
        margin-left: 0%;
    }
    
    #deelnemers h4{
        font-size: 25px;
        line-height: 37px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    #redLineDeelnemers{
        width: 60px;
        border-bottom: 4px solid #CD001F;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #deelnemers p{
        font-size: 18px;
        line-height: 27px;
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #cta a {
        margin-top: -18vw;
    }
}

@media screen and (max-width: 900px){
   
    #flyerRight p{
        width: 200px;
    }

    #whiteLine{
        margin: 4vw 0vw 6vw 2vw;
    }

    #overRight p{
        font-size: 16px;
        line-height: 24px;
        width: 40vw;
    }

    #fact p:nth-child(1){
        font-size: 40px;
        line-height: 40px;
    }

    #fact{
        height: 65px;
    }

    #cta h5{
        font-size: 30px;
        padding-bottom: 200px;
    }

    #cta a {
        margin-top: -20vw;
    }

    #footerContent{
        flex-wrap: wrap;
        margin-top: 4vh;
        justify-content: space-between;
    }

    #image{
        width: 100vw;
    }

    #image img{
        width: 200px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #navigeer, #contact , #volg{
        margin-top: 4vh;
    }






}

@media screen and (max-width: 849px){
    .gallery {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

	}
}

@media screen and (max-width: 843px){
    #flyerRight p:nth-child(1){
        font-size: 20px;
        margin-top: 5vw;
    }

    #flyerRight h5{
        font-size: 20px;
        line-height: 30px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 840px){
    .box{
    top: 22vh;
    }
#headerText h1{
    top: 12vh;
}

#headerText h2{
    top: 19vh;
}

#googleMap{
    padding-bottom: 60%;
}
}

@media screen and (max-width: 820px){

    #fact p:nth-child(1){
        font-size: 35px;
        line-height: 35px;
    }

    #fact p:nth-child(2){
        font-size: 14px;
    }

}

@media screen and (max-width: 807px){
    #question{
        width: unset;
    }
}

@media screen and (max-width: 800px){
    #flyerRight p:nth-child(1){
        font-size: 20px;
        margin-top: 5vw;
    }

    #flyerRight h5{
        font-size: 20px;
        line-height: 28px;
    }

    #flyerRight p{
        font-size: 16px;
        line-height: 24px;
        width: 200px;
    }

    #flyerRight a{
        border: 3px solid;
        padding: 12px 30px;
    }

}







/* hier begint tablet afmeting */






@media screen and (max-width: 768px){

    #logo{
        width: 220px;
    }

    #menuToggle{
        display: block;
    }

    #headerText h1{
        top: 20vh;
        width: 90vw;
        margin-left: 5vw;
    }

    #headerText h2{
        top: 27vh;
        width: 90vw;
        margin-left: 5vw;
    }

    .box{
        top: 35vh;
    }

    .nav-links li{
        display: none;
    }

    #content{
        position: relative;
        margin-top: -2px;
        width: 100vw;
        left: 0;
    }

    #sitewrapper{
        overflow-x: hidden;
    }

    #navigationBar{
        background: #fff;
        box-shadow: 10px 10px 12px -14px rgba(0,0,0,.29);
    }

    #logo{
        width: 170px;
    }

    #map{
        margin-top: 0;
    }

    #map h4{
        padding-top: 120px;
        font-size: 25px;
        line-height: 37px;
    }

    #flyer{
        width: 100%;
    }

    #flyerLeft{
        width: 60vw;
        height: 60vw;
    }

    #flyerLeft img{
        margin: unset;
        margin-top: -13vw;
        margin-left: -20vw;
        width: 100vw;
    }

    #flyerRight{
        width: 40vw;
        height: 66vw;
    }

    #flyerRight p:nth-child(1){
        font-size: 30px;
        margin-top: 10vw;
        margin-left: 10%;
    }

    #flyerRight h5{
        margin-left: 10%;
        font-size: 30px;
        line-height: 32px;
        margin-top: 0vw;
    }

    #flyerRight p{
        font-size: 16px;
        line-height: 24px;
        width: 220px;
        margin-left: 10%;
    }

    #whiteLine{
        margin-left: 10%;
        margin-top: 3vw;
        margin-bottom: 6vw;
    }
    
    #flyerRight a{
        margin-left: 10%;
    }

    .gallery.hidden > .gallery-item:nth-child(1n +4){
        transition: ease-in-out 0.6s;
        opacity: 0;
        height: 0;
    }

    #over{
        width: 100%;
    }

    #overRight{
        width: 60vw;
        height: 60vw;
    }

    #overLeft{
        width: 40vw;
        height: 66vw;
    }

    #overRight p{
        margin-left: 4vw;
        width: 50vw;
    }

    #overLeftContent{
        margin-left: 4vw;
        margin-top: 6vw;
    }

    #cta{
        margin-top: 0vw;
        text-align:center;
        width: 100vw;
        height: 30vw;
        background-color: #fff;
    }

    #cta h5{
        margin-top: 10vw;
    }

    #cta a {
        margin-top: -20vw;
    }

    #white{
        display: none;
    }
    #footer{
        width: 100vw;
        margin-left: 0;
    }
    #bottom{
        margin-left:0;
    }

    #navigeer,  #contact , #volg{
        margin-top: 7vh;
    }

}

@media screen and (max-width: 700px){
    #flyer{
        flex-direction: column-reverse;
    }

    #flyerLeft{
        width: 100vw;
    }

    #flyerLeft img{
        margin: unset;
        margin-top: -10vw;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 100vw;
    }

    #flyerRight{
        width: 100vw;
        height: 64vw;
    }

    #flyerRight p:nth-child(1){
        font-size: 30px;
        margin-top: 10vw;
        margin-left: 10%;
    }

    #flyerRight h5{
        margin-left: 10%;
        font-size: 30px;
        line-height: 32px;
        margin-top: 0vw;
    }

    #flyerRight p{
        font-size: 16px;
        line-height: 24px;
        width: 70vw;
        margin-left: 10%;
    }

    #whiteLine{
        margin-left: 10%;
        margin-top: 6vw;
        margin-bottom: 9vw;
    }
    
    #flyerRight a{
        margin-left: 10%;
    }

    #deelnemers{
        margin-top: 130vw;
    }

    #over{
        flex-direction: column;
    }

    #overLeft{
        width: 100vw;
        height: 55vw;
    }

    #overLeftContent{
        margin-left: 10%;
    }

    #overRight{
        width: 100vw;
    }

    #overRight p{
        top: 0%;
        transform: translateY(-130%);
        width: 80vw;
        color: #fff;
        margin-left: 10%;
    }

    #facts{
        margin-top: 7vw;
    }

    #fact:nth-of-type(1),#fact:nth-of-type(2){
        margin-right: 5vw;
    }

    #fact:nth-of-type(3){
        margin-top: unset;
    }
}

@media screen and (max-width: 687px){
    #flyerRight{
        height: 66vw;
    }
}

@media screen and (max-width: 625px){

    #cta h5{
        position: absolute;
        width: 90vw;
        margin-left: 5%;
        font-size: 25px;
    }

    #cta a{
        margin-top: 20vw;
    }

    #cta{
        height: 30vh;
    }

    #footerContent{
        flex-direction: column;
        text-align: center;
        width: 100vw;
        margin-left: 0;
    }

    #image{
        display: flex;
        align-content: center;
    }

    #navigeer , #contact , #volg{
        width: 80%;
        margin: 0 auto;
        margin-top: 5vh;
    }

    #footer{
        height: 80vh;
    }

    #bottom{
        margin-top: 80vh;
    }

    #bottom p{
        width: 90%;
        margin-left: 5%;
    }

    #footerContent p:nth-child(1){
        border-bottom: none;
        margin-bottom: 10px;
    }


}


@media screen and (max-width: 600px){
    #headerText h1{
        top: 17vh;
        font-size: 40px;
    }

    #headerText h2{
        top: 24vh;
        font-size: 16px;
    }

    .box{
        top: 30vh;
    }
    #map h4{
        text-align: center;
        margin-left: 0;
    }

    #flyerRight{
        height: 75vw;
    }

    #flyerLeft{
        height: 70vw;
    }

    #deelnemers{
        margin-top: 150vw;
    }

    #overRight p{
        transform: translateY(-110%);
    }

}

@media screen and (max-width: 529px){
    #flyer{
        margin-top: 7vh;
    }

    #flyerRight{
        height: 60vh;
    }

    #flyerRight p:nth-child(1){
        margin-top: 10vh;
    }

    #deelnemers{
        margin-top: 190vw;
    }

    #overLeft{
        height: 60vw;
    }

    #overRight p{
        transform: translateY(-100%);
    }

    #cta h5{
        font-size: 22px;
    }
}

@media screen and (max-width: 500px){
    #headerContent img{
        width: auto;
        height: 70vh;
    }

    #headerText h1{
        top: 25vh;
    }

    #headerText h2{
        top: 32vh;
    }

    .box{
        top: 40vh;
    }

    #logo{
        margin-left: -100px;
    }

    #googleMap{
        padding-bottom: 100%;
    }

    .neVct-IlgHgd .HzV7m-b0t70b-haAclf{
        width: 250px;
    }

    #featurecardPanel{
        width: 250px;
    }

    #deelnemers{
        margin-top: 200vw;
    }

    #deelnemers h4{
        font-size: 20px;
    }

    #redLineDeelnemers{
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    #deelnemers p{
        font-size: 16px;
        line-height: 24px;
    }

    .gallery{
        margin-top: 10vw;
    }

    #fact:nth-of-type(1),#fact:nth-of-type(2){
        margin-right: 6vw;
    }

    #overRight{
        height: 70vw;
    }

    #overRight p{
        transform: translateY(-80%);
    }
}

@media screen and (max-width: 475px){
    #overLeft{
        height: 70vw;
    }

    #bottom p{
        font-size: 14px;
    }
}

@media screen and (max-width: 450px){

    #googleMap iframe {
        width: 100% !important;
        right: 0;
    }

    #deelnemers{
        margin-top: 210vw;
    }

    #deelnemers h4{
        width: 100%;
    }

    #question{
        max-width: 70vw;
    }

    #overLeft{
        height: 80vw;
    }

    #overRight{
        height: 80vw;
    }

    #overRight p{
        transform: translateY(-60%);
    }

    #fact:nth-of-type(3){
        margin-right: 10vw;
        margin-top: 5vw;
    }


    #overLeft{
        height: 100vw;
    }

    #cta{
        height: 60vw;
    }

    #cta h5{
        margin-top: 15vw;
        font-size: 20px;
    }

    #cta a {
        margin-top: 28vw;
    }
}

@media screen and (max-width: 439px){
    .gallery.hidden > .gallery-item:nth-child(1n +2){
        transition: ease-in-out 0.6s;
        opacity: 0;
        height: 0;
    }

    .gallery.hidden + #button{
        position: absolute;
        margin-top: -800px;
    }

    .gallery.hidden ~ #over {
        margin-top: -600px;
    }

    #overRight{
        height: 100vw;
    }

    #cta h5{
        font-size: 20px;
    }

}

@media screen and (max-width: 420px){
    #deelnemers{
        margin-top: 230vw;
    }

    #overRight p{
        transform: translateY(-70%);
    }

    #overRight p{
        transform: translateY(-55%);
    }
}

@media screen and (max-width: 408px){
    #headerText h1{
        font-size: 35px;
        width: 100vw;
        margin-left: 0;
    }

    #logo{
        width: 150px;
    }

    #infoRight h3{
        font-size: 25px;
    }

    #info p{
        font-size: 16px;
        line-height: 24px;
    }

    #infoRight p{
        margin-top: 30px;
    }

    #overRight p{
        margin-top: 65vw;
    }

    #overRight{
        height: 120vw;
    }

    #cta a{
        width: 40%;
    }

    #cta h5{
        font-size: 18px;
    }

    #bottom p{
        font-size: 12px;
    }

}

@media screen and (max-width: 375px){
    #deelnemers{
        margin-top: 240vw;
    }

    #overLeft{
        height: 110vw;
    }

}








